testdata/*.jpg filter=lfs diff=lfs merge=lfs -text
testdata/*.png filter=lfs diff=lfs merge=lfs -text
testdata/*.gif filter=lfs diff=lfs merge=lfs -text
testdata/*.heic filter=lfs diff=lfs merge=lfs -text
testdata/*.tiff filter=lfs diff=lfs merge=lfs -text
testdata/*.webp filter=lfs diff=lfs merge=lfs -text
